/*...*/
/*...*/
/*...*/
@font-face {
  font-weight: normal;
  font-family: "oswaldregular";
  src: url("/fonts/oswaldregular.woff2") format("woff2");
  src: url("/fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "oswaldmedium";
  src: url("/fonts/oswaldmedium.woff") format("woff");
  src: url("/fonts/oswaldmedium.woff2") format("woff2");
}
html {
  line-height: 1.15;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 320px;
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*...*/
.academy {
  margin: 0;
}
/*...*/
.achievments-list {
  margin: 0;
}
/*...*/
.add-products {
  margin: 0;
}
/*...*/
.additional {
  margin: 0;
}
.button {
  display: inline-block;
  margin: auto;
  padding: 11px 10px;
  width: 260px;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: #68b738;
}
/*...*/
.catalog {
  margin: 0;
  padding: 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-align: left;
  background-color: #ffffff;
}
.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  position: relative;
  margin: 14px 0 0;
  padding-left: 71px;
  text-transform: uppercase;
}
.catalog__item--slim {
  margin-bottom: 20px;
}
.catalog__item {
  position: relative;
  padding: 0;
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
}
.catalog__detail--slim,
.catalog__detail--pro {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
.catalog__title::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
.catalog__title--slim::after {
  top: -14px;
  left: 10px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
}
.catalog__title::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}
.catalog__title--pro::after {
  top: 0;
  left: -7px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
}
/*...*/
.choose-form {
  margin: 0;
}
/*...*/
.comment {
  margin: 0;
}
/*...*/
.contact {
  margin: 0;
}
.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 0 20px;
  position: relative;
}
/*...*/
.copyright {
  margin: 0;
}
/*...*/
.dealer {
  margin: 0;
}
.dealer__text {
  width: 50%;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: left;
}
.dealer__address {
  width: 50%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}
/*...*/
.example {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-align: left;
  background-color: #f2f2f2;
}
.example__title {
  margin: 0;
  margin-bottom: 22px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}
.example__description {
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;
}
/*...*/
.form-section {
  margin: 0;
}
/*...*/
.gift {
  margin: 0;
}
/*...*/
.how-it-work {
  margin: 0;
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-align: left;
  background-color: #ffffff;
}
.how-it-works__title {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
}
.how-it-works__item--useful::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
.how-it-works__item--powder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
.how-it-works__item--replacement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
.how-it-works__item--result::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}
.how-it-works__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  text-align: left;
}
/*...*/
.page-footer__logo-image {
  padding-top: 39px;
  padding-bottom: 31px;
  text-align: center;
}
/*...*/
.main-nav {
  margin: 0;
}
/*...*/
.main {
  margin: 0;
}
/*...*/
.menu {
  display: block;
  margin: 0;
  line-height: 20px;
}
.menu__link {
  display: inline-block;
  text-transform: uppercase;
  color: #111111;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
.menu__item {
  display: block;
  padding-top: 24px;
}
/*...*/
.more-products {
  margin: 0;
}
/*...*/
.page-footer {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  background-color: #f2f2f2;
}
/*...*/
.page-header {
  margin: 0;
}
/*...*/
.page-main {
  margin: 0;
}
.page-main__title {
  padding: 29px 40px;
  margin: 0;
  font-family: "oswaldregular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 34px;
  line-height: 36px;
}
/*...*/
.product-info {
  margin: 0;
}
/*...*/
.product {
  margin: 0;
}
.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
  padding: 0 20px;
  border-top: 1px solid #ededed;
}
.product__item-link {
  color: inherit;
  text-decoration: none;
}
.product__item-title {
  width: 74px;
  margin-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-align: left;
  text-transform: uppercase;
}
/*...*/
.program {
  margin: 0;
}
/*...*/
.programm {
  margin: 0;
}
.promo {
  padding-top: 20px;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  color: #ffffff;
}
/*...*/
.questionnaire {
  margin: 0;
}
/*...*/
.social-list {
  margin: 0;
}
/*...*/
.visually-hidden {
  margin: 0;
  display: none;
}
